/.ipynb_checkpoints
/.vscode
/avocado_images
/debug_matches_4.jpg
/debug_warp_4.jpg
/fusion_images
/glare_replaced.png
/images
/output
/photo_library
/SkinSavvy_contact.ipynb
/skinsavvy_contact.pdf
/SkinSavvy_rawimage.ipynb
/skinsavvy_rawimage.pdf
/SkinSavvy_rawimage_bayer.ipynb
/SkinSavvy_rawimage_bayer2.ipynb
/SkinSavvy_rawimage_dynamiccropping.ipynb
/skinsavvy_rawimage_spectral.pdf
/SkinSavvy_rawimage_spectralonly.ipynb
/skinsavvy_rawimage_spectralonly.pdf
/SkinSavvy_rawimage_visual.ipynb
/SkinSavvy_rawimage_visual2.ipynb
/skin_images